*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 90%;
    margin: 0 100px;
}

h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(47, 76, 132, 1);
    top: 0;
    transition: all 500ms ease;
    border-radius: 0 0 10px 10px;
    box-shadow: 6px 8px 8px -8px rgba(0, 0, 50, 0.6);
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header.scrolled {
    border-radius: 10px;
    background: rgba(47, 76, 132, 0.4);
    background: linear-gradient(to bottom right, rgba(47, 76, 132, 0.25), rgba(47, 76, 132, 0.4), rgba(47, 76, 132, 0.55));
    backdrop-filter: blur(3px);
    border: 1px solid #15202d7b;
    transition: all 500ms ease;
    width: 92%;
    margin: 0 4%;
    top: 20px;
    box-shadow: 8px 12px 10px -8px rgba(0, 0, 50, 0.8);
}

nav.scrolled {
    padding: 7px;
}

nav .logo {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

nav .theme.btn {
    display: flex;
    align-items: center;
}

nav .theme.btn img {
    height: 32px;
    margin: 2px 0;
}

nav .theme.btn .dark {
    height: 36px;
}

nav .theme.btn .light {
    height: 36px;
}

.date {
    position: fixed;
    top: 100px;
    right: 60px;
    padding: 12px;
    border-radius: 12px;
    background: rgba(83, 134, 200, 0.3);
    backdrop-filter: blur(2px);
    border: 1px solid #15202d7b;
    box-shadow: 6px 8px 8px -8px rgba(0, 0, 50, 0.6);
    transition: all 500ms ease;
    z-index: 101;
}

.date p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.date p#day {
    font-weight: 600;
    font-size: 15px;
}

.date .day {
    color: #fff;
}

.date .ddmmyy {
    color: #fff;
}

.date .clock {
    color: #fff;
}

.fill {
    height: 66px;
}

.hero {
    margin: 25px 0 50px;
}

.hero .profile {
    margin: 35px 0;
}

.hero .profile p {
    text-align: center;
    margin: 5px 0 0;
    font-size: 20px;
}

.hero .profile .subtitle {
    margin: 0 0 5px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 11px;
    font-weight: 300;
}

.hero .links-card {
    margin: 35px 0;
}

.links-content {
    padding: 10px;
    border-radius: 10px;
    /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2)); */
    background: rgba(83, 134, 200, 0.3);
    backdrop-filter: blur(2px);
    width: 70%;
    margin: 5px auto 25px;
    text-align: center;
    border: 1px solid rgba(0, 0, 50, 0.3);
    box-shadow: 6px 8px 8px -6px rgba(0, 0, 50, 0.6);
}

.links-content a {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.links-content a .media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-content a .media img {
    height: 22px;
    margin: auto 7px auto 0;
    padding: 2px;
    background-color: #15202d9b;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 50, 0.5);
}

footer {
    padding: 25px;
    background: #15202d;
    bottom: 0;
}

footer p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 780px) {
    .wrapper {
        margin: 0 25px;
    }

    .links-content {
        width: 80%;
    }

    .date {
        width: 30%;
        top: 5px;
        margin: 0 35%;
        right: 0;
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
    }
    
    body .date .day p#day {
        color: #fff;
    }

    body .date .ddmmyy p#ddmmyy {
        color: #fff;
    }

    body .date .clock p#clock {
        color: #fff;
    }

    .date.scrolled {
        top: 23px;
        transition: all 500ms ease;
    }

    .date p {
        font-size: 11px;
    }

    .date p#date {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .date {
        transform: translateX(28px);
    }

    .date {
        top: 9px;
    }

    .date.scrolled {
        top: 26px;
    }

    .date p {
        font-size: 9px;
    }

    .date p#date {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1440px) {
    .fill {
        height: 96px;
    }

    nav .logo {
        font-size: 50px;
    }

    nav .theme.btn img {
        height: 42px;
    }
    
    nav .theme.btn .dark {
        height: 46px;
    }
    
    nav .theme.btn .light {
        height: 46px;
    }

    .date {
        top: 130px;
    }

    .date p {
        font-size: 15px;
    }

    .date p#day {
        font-size: 18px;
    }

    h2 {
        font-size: 45px;
    }

    .hero .profile p {
        font-size: 26px;
    }

    .hero .profile .subtitle {
        font-size: 15px;
    }

    .links-content a {
        font-size: 23px;
    }

    .links-content a .media img {
        height: 26px;
    }

    footer p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 2560px) {
    .fill {
        height: 133px;
    }

    nav .logo {
        font-size: 75px;
    }

    nav .theme.btn img {
        height: 60px;
    }
    
    nav .theme.btn .dark {
        height: 64px;
    }
    
    nav .theme.btn .light {
        height: 64px;
    }

    .date {
        top: 175px;
        padding: 15px;
        right: 125px;
    }

    .date p {
        font-size: 20px;
    }

    .date p#day {
        font-size: 25px;
    }

    h2 {
        font-size: 65px;
    }

    .hero .profile p {
        font-size: 40px;
    }

    .hero .profile .subtitle {
        font-size: 20px;
    }

    .links-content a {
        font-size: 36px;
    }

    .links-content a .media img {
        height: 36px;
    }

    footer p {
        font-size: 25px;
    }
}

@media only screen and (min-width: 3840px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}