:root {
    --dark-color: #000024;
    --light-color: #F4F4FF;
    --light-blue: #E4F4FF;
    --blue-color: #2F9CFF;
    --dark-blue: #2D42BF;
    --very-dark-blue: #000838;
    --yellow-color: #FFC500;
    --dark-yellow: #FF9900;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F4F4FF;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

 /* header */

header {
    background: #2D42BF;
    height: 50pt;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    width: 90%;
    top: 0px;
    padding: 10pt 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: var(--very-dark-blue);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    
    color: #FFFFFF;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

/* calculator */
.hero-section {
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: top;
    justify-content: space-between;
}

.hero-section .left h1{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
    color: #000000;
    margin-left: 20px;
}

.hero-section .left form {
    margin-left: 20px;
    margin-top: 16px;
}

.hero-section form input{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #70788F;
    margin-top: auto;

    border-radius: 14px;
    background: var(--light-blue);
    width: 200px;
    height: 35px;
    border: 1px solid #2F9CFF ;
    margin-bottom: 5px;
}

.hero-section .left form .go-btn {
    position: relative;
    padding: 0 12px;
    height: 35px;
    background: #FFC500;
    border: 1px solid #FF9900;
    border-radius: 14px;
    margin-left: 0;
    margin-top: 5px;
    
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000024;
    margin-top: auto;
}

.hero-section .right h1{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 16px;
    color: #000000;
    margin-right: 20px;
    text-align: right;
}
 
.hero-section .content {
    border-radius: 14px;
    background: var(--light-blue);
    width: 350px;
    height: 35px;
    border: 1px solid #2F9CFF ;
    margin-bottom: 5px;
    align-items: center;
    margin-right: 20px;
}

.hero-section .right p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    color: #70788F;
    margin-top: auto;
}

    /* rumus */
.formula-section {
    display: inline-block;
    height: 40vh;
    align-items: top;
    
}

.formula-section h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
    color: #000000;
    margin-left: 20px;
}

.formula-section ul {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    list-style: none;
    padding-left: 20px;
}


.formula-section ul li {
    margin: 16px 0;
}

.phone-development {
    display: none;
}

/* footer */
footer{
    background: var(--very-dark-blue);
    color: #FFFFFF;
    padding: 50px 0;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer h3{
    color: var(--yellow-color);
}

footer ul{
    list-style: none;
    padding-left: 20px;
}

footer ul li {
    margin: 16px 0;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

@media only screen and (max-width: 600px) {

    header {
        display: none;
    }

    .hero-section {
        display: none;
    }

    .formula-section {
        display: none;
    }

    .phone-development {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .phone-development h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        color: #000000;
    }

    .phone-development p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }

    footer {
        display: none;
    }

    /* nav {
        justify-content: flex-start;
    }

    nav ul {
        display: none;
    }

    .hero-section {
        align-items: top;
        height: 70vh;
    }

    .hero-section .left {
        width: 90%;
    }

    .hero-section .left h1 {
        font-size: 30px;
    }

    .hero-section form input {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
    
        color: #70788F;
        margin-top: 5px; 
    }

    .hero-section .right {
        position: absolute;
        margin-top: 30vh;
    }

    .hero-section .right h1 {
        text-align: left;
        margin-right: 0;
        margin-left: 20px;
        font-size: 30px;
    }
    .hero-section .content {
        width: 200px;
        margin-right: 0;
        margin-left: 20px;
    }

    .hero-section .right p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
    
        color: #70788F;
        margin-top: 5px;
    }

    .formula-section h1 {
        font-size: 30px;
    }

    .formula-section ul {
        margin-left: 20px;
    }

    footer h3 {
        font-size: 18px;
    }
    footer ul {
        font-size: 15px;
    }

    footer .links-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    footer .links-container .random {
        display: none;
    }*/
  } 