@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #F4F4FF;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

 /* header */

header {
    background: #2D42BF;
    height: 10vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    z-index: 100;
}

nav.mobile-nav {
  display: none;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    
    color: #FFFFFF;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #FFC500;
  color: #000024;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000024;
  margin-top: auto;
  padding: 1.3rem;
}

button:hover {
  background-color: #FF9900;
}

button:focus {
  outline: none;
  background-color: #FF9900;
}

.mobile-menu-container {
  display: none;
}

@media only screen and (max-width: 720px) {

  nav {
    display: none;
}

nav.mobile-nav {
    display: flex;
    padding-left: 50px;
    top: 0;
    margin-top: 10px;
    z-index: 110;
}


nav.mobile-nav.scrolled {
    padding: 8px 50px;
    width: 100%;
    background: var(--dark-blue);
    box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
}

.mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: #000838;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
}

.mobile-menu-container.active {
    left: 0;
}

.mobile-menu-container .close-icon {
    position: fixed;
    top: 32px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: visible;
}

.mobile-menu-container ul {
    list-style: none;
    padding: 0;
}

.mobile-menu-container ul li {
    margin: 30px 0;
    text-align: center;
}

.mobile-menu-container ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}


  .quiz {
    padding: 0 10%;
  }

  .quiz-container {
    width: 100%;
    align-self: center;
  }
  
}